/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* SHOES */

.shoes-container {
    position: relative;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#blue {
    background-image: url(../img/01.png);
}

#tommy {
    background-image: url(../img/02.png);
}

#converse {
    background-image: url(../img/03.png);
}

.shoes {
    position: relative;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 60vh;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.text-shoes {
    position: absolute;
    font-size: 2em;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
}

.yellow-t {
    color: yellow;
}

.green-t {
    color: green;
}

#blue {
    background-image: url(../img/01.png);
}